name: RustConnectorRelease

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Connector'
        type: choice
        options:
          - http
          - mqtt
        required: true

jobs:
 release:
   runs-on: [ ubuntu-latest ]
   strategy:
     matrix:
       os: [ubuntu-latest]
       rust: [stable]
       rust-target: [x86_64-unknown-linux-gnu]
   steps:
     - name: Checkout repository
       uses: actions/checkout@v2
     - name: Set Environment ${{ github.event.inputs.name }}
       shell: bash
       run: |
         echo "TAG_VERSION=`grep -m 1 -oP 'version\s*=\s*\"\K\d+\.\d+\.\d+(?=\")' rust-connectors/sources/${{ github.event.inputs.name }}/Cargo.toml`" | tee -a $GITHUB_ENV
     - name: Print Environment
       run: |
         echo "TAG_VERSION = ${{ env.TAG_VERSION }}"
     - name: Create GitHub release
       id: release
       uses: actions/create-release@v1
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       with:
         tag_name: fluvio-connect-$${ github.event.inputs.name }}-${{ env.TAG_VERSION }}
         release_name: fluvio-connect-$${ github.event.inputs.name }}-${{ env.TAG_VERSION }}
         body_path: rust-connectors/sources/${{ github.event.inputs.name }}
