name: RustConnectorRelease

on:
  workflow_dispatch:
    inputs:
      connector_name:
        description: 'Connector'
        type: choice
        options:
          - http
          - mqtt
        required: true

jobs:
 release:
   runs-on: [ ubuntu-latest ]
   strategy:
     matrix:
       os: [ubuntu-latest]
       rust: [stable]
       rust-target: [x86_64-unknown-linux-gnu]
   steps:
     - name: Checkout repository
       uses: actions/checkout@v2
     - name: Set Environment
       shell: bash
       run: |
         echo "TAG_VERSION=`grep -m 1 -oP 'version\s*=\s*\"\K\d+\.\d+\.\d+(?=\")' rust-connectors/sources/${{ env.INPUT_CONNECTOR_NAME}}/Cargo.toml`" | tee -a $GITHUB_ENV
     - name: Print Environment
       run: |
         echo "TAG_VERSION = ${{ env.TAG_VERSION }}"

